
<ul>

    <li>username : {{author.username}}</li>
    <li>Picture : <img src="{{asset(author.picture)}}" width="50" /></li>
    <li>Number of books : {{author.nb_books}}</li>
    <li></li>
    <li></li>



</ul>
