

<h1> list product </h1>



<h3> <a href="{{path('details',{ide:1})}}">Product 1</a></h3>

<h3> <a href="{{path('details',{ide:2})}}">Product 2</a></h3>

<a href="{{path('app_home')}}">  go to home   </a>